* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', sans-serif;
}

.container {
    width: 100%;
    height: 85vh;
    position: relative;
}

/* Menu CSS */
.menu {
    position: absolute;
    top: 40px;
    left: 60px;
    z-index: 2;
}

.menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
}

.menu-links {
    display: none;
    flex-direction: column;
    margin-top: 20px;
    animation: fadeIn 0.5s forwards;
}

.menu-links ul {
    list-style: none;
    padding: 0;
}

.menu-links li {
    padding: px 0;
}

.menu-links a {
    color: #333;
    text-decoration: none;
    font-size: 10px;
}

.menu-links a:hover {
    text-decoration: underline;
}

.logo {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.logo a {
    text-decoration: none;
}

.logo img {
    height: 80px;
    width: auto;
    cursor: pointer;
}

/* Slider CSS */
.slider {
    width: 100%;
    height: 85vh;
    overflow: hidden;
    position: relative;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation: slide 12s infinite;
    transition: opacity 2s ease-in-out;
}

.slide:nth-child(1) {
    animation-delay: 0s;
}

.slide:nth-child(2) {
    animation-delay: 4s;
}

.slide:nth-child(3) {
    animation-delay: 8s;
}

@keyframes slide {
    0%, 25% { opacity: 0; }
    25%, 75% { opacity: 1; }
    75%, 100% { opacity: 0; }
}

/* Animation Keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Footer CSS */
footer {
    width: 100%;
    text-align: center;
    padding: 5px 0;
    position: relative;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
}

.footer-left p {
    font-size: 14px;
    padding-top: 20px;
    color: black;
    font-family: 'Comfortaa', sans-serif;
    margin-left: 50px;  /* Align the paragraph to the left */
}

.footer-left .social-links {
    list-style: none;
    padding: 0;
    margin-top: 2px;
    margin-left: 50px;  /* Align the social links to the left */
}

.footer-left .social-links li {
    display: list-item;
    margin-right: 10px;
}

.footer-left .social-links a {
    color: black;
    font-size: 10px;
    text-decoration: none;
}

.footer-left .social-links a:hover {
    text-decoration: underline;
}

.footer-right {
    margin-right: 50px;  /* Move the right footer to the right */
}

.footer-right ul {
    list-style: none;
    padding: 0;
}

.footer-right li {
    margin: 2px 0;
    display: flex;
    font-size: 10px;
    align-items: center;
}

.footer-right .icon {
    height: 30px;
    width: auto;
    margin-right: 10px;
}

.footer-right a {
    color: black;
    text-decoration: none;
}

.footer-right a:hover {
    text-decoration: underline;
}

/* Responsive Footer */
@media (max-width: 1024px) { /* Tablets */
    .footer-content {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .footer-left, .footer-right {
        margin: 10px 0;
    }

    .footer-left p, .footer-left .social-links, .footer-right ul {
        margin: 0 auto;
    }
}

@media (max-width: 768px) { /* iPads and smaller tablets */
    .menu-button {
        font-size: 20px;
        background-color:black;
        color:black;
    }

    .menu-links a {
        font-size: 12px;
    }

    .footer-content {
        padding: 20px;
    }
}

@media (max-width: 375px) { /* iPhone 15, 16 */
    .menu-button {
        font-size: 18px;
    }

    .menu-links a {
        font-size: 10px;
    }

    .footer-content {
        padding: 10px 20px;
    }

    .footer-left p, .footer-left .social-links, .footer-right ul {
        margin: 0 auto;
        text-align: center;
    }
}

#projects-section {
    background-color: white;
    margin-top: 200px;
    padding: 60px 20px;
    text-align: center;
}

.projects-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 300px;
    justify-content: center;
}

.project-card {
    width: 100%;
    max-width: 380px;
    height: 550px;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.project-card img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    display: none; /* Hidden initially for lazy loading */
}

.project-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 450px;  /* Match the height of the image */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(206, 203, 203, 0.815); /* Gray background with transparency */
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
    font-size: 10px;
    font-family: "Comfortaa", sans-serif;
}

.project-card:hover .project-info {
    opacity: 1;
}

/* Skeleton styles */
.skeleton {
    width: 100%;
    height: 450px;
    background: linear-gradient(90deg, #ccc, #e0e0e0, #ccc);
    background-size: 200% 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    animation: skeleton-loading 1.5s infinite;
}

/* Skeleton loading animation */
@keyframes skeleton-loading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

/* Show images when they are loaded */
.project-card img[src] {
    display: block;
}

/* Responsive Styles */
@media (min-width: 1024px) {
    .project-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .project-info {
        font-size: 12px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .project-info {
        font-size: 10px;
    }
}

@media (max-width: 767px) {
    #projects-section {
        padding: 40px 10px;
        margin-top: 100px;
    }

    .projects-container {
        padding: 0 10px;
    }

    .project-grid {
        gap: 20px;
    }

    .project-card {
        height: 450px;
    }

    .skeleton {
        height: 450px;
    }

    .project-info {
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    .project-card {
        height: 400px;
    }

    .skeleton {
        height: 400px;
    }

    .project-info {
        height: 400px; /* Match the height of the image */
        font-size: 8px;
    }
}

@media (max-width: 375px) {
    .project-card {
        height: 350px;
    }

    .skeleton {
        height: 350px;
    }

    .project-info {
        height: 350px; /* Match the height of the image */
        font-size: 7px;
    }
}
